/* 背景色 */
html {
  background-color: #2C2B2B;
  }
  div {
  background-color: #2C2B2B;
  }

.App {
  font-size: 28px;
  color: #ffffff;
  max-width: 1024px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ft1{
  margin-top: 20px;
  text-align: center;
  font-size: 45px;
}
.ft2{
  font-size: 28px;
}
.ft3{
  font-size: 20px;
}

.button{
  border: none;
  background-color: #2EBD59;
  height: 50px;
  width: 130px;
  font-size: 20px;
}
.button:hover{
  background-color: #299D4C;
}
.button:active{
  background-color: #299D4C !important;
}

.image{
  width: '100px';
  height: '100px';
}

/* login */
.loginFont{
  margin-top: 150px;
}
.loginButton{
  margin-top: 100px;
  border: none;
  background-color: #2EBD59;
  font-size: 20px;
  height: 60px;
  width: 250px;
}
.iconLeft{
  float: left;
  padding-left: 10px;
  padding-top: 3px;
}
.left{
  float: left;
}
.clear{
  clear: both;
}

/* playlist */
.playlistName{
  width: 300px;
  margin-left: 130px;
  margin-top: 30px;
}
.Playlistimage{
  margin-left: 30px;
  margin-bottom: 20px;
  width: 100px;
}
.playlistButton{
  margin-left: 200px;
  margin-top: 30px;
}

/* track */
.slider{
  width: 450px;
}
.slider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Webkitブラウザのデフォルトのスタイルを無効化 */
  width: 20px; /* つまみの幅を設定 */
  height: 20px; /* つまみの高さを設定 */
  background-color: #2EBD59; /* つまみの背景色を設定 */
}
.featureText{
  width: 200px;
}
.featureNum{
  width: 100px;
}
.trackImage{
  width: 200px;
  margin-right: 100px;
  margin-top: 30px;
}
.trackName{
  margin-right: 30px;
}
.trackSearchButton{
  margin-top:130px;
  margin-left: 50px;
}
.trackBackButton{
  margin-bottom: 20px;
  margin-right: 0;
  margin-left: auto;
  display: block;
}
.featureSelect{
  margin: 20px 0 50px 0;
}

/* suggest */
.suggestImage{
  width: 200px;
  margin-top:-20px;
}
.suggestText{
  margin-top: 70px;
}
.suggestFeature{
  padding-top: 50px;
}
.suggestButton{
  margin-top: -50px;
  margin-left: 800px;
}

/* chart */
.chart{
  width: 300px !important;
  height: 300px !important;
}